<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <meta charset="utf-8">
  <title>HaaS - The best place to find hexagrams</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="release-v4.1.0/assets/images/favicon.ico" type="image/x-icon">
  <link rel="mask-icon" href="release-v4.1.0/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="release-v4.1.0/assets/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="release-v4.1.0/assets/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="release-v4.1.0/assets/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="release-v4.1.0/assets/images/govuk-apple-touch-icon.png">

  <!--[if !IE 8]><!-->
  <link href="{{ url_for('static',filename='release-v4.1.0/govuk-frontend-4.1.0.min.css') }}" rel="stylesheet">
  <!--<![endif]-->

  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet">
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->

  <meta property="og:image" content="release-v4.1.0/assets/images/govuk-opengraph-image.png">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{container_id}}');</script>
  <!-- End Google Tag Manager -->
</head>

<body class="govuk-template__body ">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id="{{container_id}}
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

  </script>

  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

  <header class="govuk-header " role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype">
            <!--[if gt IE 8]><!-->
            <svg aria-hidden="true" focusable="false" class="govuk-header__logotype-crown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132 97" height="30" width="36">
              <path fill="currentColor" fill-rule="evenodd" d="M 0 20 L 0 30 L 100 30 L 100 20 L 0 20 Z M 0 80 L 0 90 L 100 90 L 100 80 L 0 80 Z M 0 100 L 0 110 L 100 110 L 100 100 L 0 100 Z M 0 0 L 0 10 L 100 10 L 100 0 L 0 0 Z M 40 50 L 40 40 L 0 40 L 0 50 L 40 50 Z M 100 40 L 60 40 L 60 50 L 100 50 L 100 40 Z M 100 60 L 60 60 L 60 70 L 100 70 L 100 60 Z M 40 70 L 40 60 L 0 60 L 0 70 L 40 70 Z"></path>
            </svg>
            <!--<![endif]-->
            <!--[if IE 8]>
          <img src="/assets/images/govuk-logotype-crown.png" class="govuk-header__logotype-crown-fallback-image" width="36" height="32">
          <![endif]-->
            <span class="govuk-header__logotype-text">
              HaaS
            </span>
          </span>
        </a>
      </div>
    </div>
  </header>

  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <h1 class="govuk-heading-xl">Hexagrams as a Service</h1>
      {% block hex %}{% endblock %}
    </main>
  </div>

  <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">


          <span class="govuk-footer__licence-description">
            All content is available on
            <a class="govuk-footer__link" href="https://github.com/Nyzl/HaaS" rel="license">GitHub</a>, except where otherwise stated
          </span>
        </div>

      </div>
    </div>
  </footer>


  <script src="static/release-v4.1.0/govuk-frontend-4.1.0.min.js"></script>
  <script>
    window.GOVUKFrontend.initAll()

  </script>
</body>

</html>