{% extends 'base.html' %}

{% block hex %}

<div id="contents" class="app-c-contents-list-with-body gem-c-govspeak">
    <div class="govuk-heading-m">
        <h2><p>This is your reading </p></h2>
        <p class="govuk-heading-xl">{{hexagrams}}</p>
    </div>

    {% for reading in readings %}
    <div class="govuk-body">
        <p class="govuk-heading-s">{{ reading.character }} - {{ reading.pinyin }} - {{ reading.name }}</p>
        <p>{{ reading.meaning }}</p>
    </div>
    {% endfor %}

</div>


{% endblock %}