{% extends 'govuk_frontend_jinja/template.html' %}
{% from 'govuk_frontend_jinja/components/cookie-banner/macro.html' import govukCookieBanner %}
{% from 'govuk_frontend_jinja/components/header/macro.html' import govukHeader %}
{% from 'govuk_frontend_jinja/components/footer/macro.html' import govukFooter %}

{% set assetPath = url_for('static', filename='').rstrip('/') %}

{% block pageTitle %}HaaS - The best place to find hexagrams{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="{{ url_for('static',filename='govuk-frontend-4.1.0.min.css') }}" rel="stylesheet">
  <!--<![endif]-->

  <!--[if IE 8]>
    <link href="{{ url_for('static', filename='govuk-frontend-ie8-4.1.0.min.css') }}" rel="stylesheet">
  <![endif]-->
{% endblock %}

{% block bodyStart %}
  {% block gtm_body %}{% endblock %}

  {% set html %}
    <p class="govuk-body">We use some essential cookies to make this service work.</p>
    <p class="govuk-body">We'd also like to use analytics cookies so we can understand
    how you use the service and make improvements.</p>
  {% endset %}

  {% set accept_html %}
    <p class="govuk-body">You've accepted additional cookies. You can <a
      class="govuk-link" href="#"> change your cookie settings</a> at any time.</p>
  {% endset %}

  {% set reject_html %}
    <p class="govuk-body">You've rejected additional cookies. You can <a
      class="govuk-link" href="#"> change your cookie settings</a> at any time.</p>
  {% endset %}

  {{ govukCookieBanner({
    'hidden': False,
    'ariaLabel': 'Cookies on HaaS',
    'attributes': {
      'data-module': 'govuk-cookie-banner consent',
    },
    'messages': [
      {
        'headingText': 'Cookies on HaaS',
        'html': html,
        'classes': 'js-cookie-banner-message',
        'actions': [
          {
            'text': 'Accept analytics cookies',
            'name': 'cookies',
            'value': 'accept',
            'attributes': {
              'data-accept-cookies': 'true',
            }
          },
          {
            'text': 'Reject analytics cookies',
            'name': 'cookies',
            'value': 'reject',
            'attributes': {
              'data-reject-cookies': 'true',
            }
          },
          {
            'text': 'View cookies',
            'href': '#'
          }
        ]
      },
      {
        'html': accept_html,
        'classes': 'js-cookie-banner-confirmation-accept',
        'role': 'alert',
        'actions': [
          {
            'text': 'Hide cookie message',
            'type': 'button',
            'href': '#',
            'attributes': {
              'data-hide-cookie-message': 'true',
            }
          }
        ],
        'hidden': True
      },
      {
        'html': reject_html,
        'classes': 'js-cookie-banner-confirmation-reject',
        'role': 'alert',
        'actions': [
          {
            'text': 'Hide cookie message',
            'type': 'button',
            'href': '#',
            'attributes': {
              'data-hide-cookie-message': 'true',
            }
          }
        ],
        'hidden': True
      }
    ]
  }) }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    "homepageUrl": SDE_prototype_home_URL,
    "productName": "HaaS",
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    'meta': {
      'items': [
        {
          'text': 'SDE Sandbox Homepage',
          'href': SDE_prototype_home_URL,
        },
        {
          'text': 'Source code',
          'href': 'https://github.com/Nyzl/HaaS',
        },
        {
          'text': 'Cookies',
          'href': url_for('cookies'),
        },
      ],
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ url_for('static', filename='govuk-frontend-4.1.0.min.js') }}"></script>
  <script>window.GOVUKFrontend.initAll()</script>
  {% assets "cookies_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      window.ConsentAPIClient = new Consent();
      window.ConsentAPIClient.init({"host": "{{ getenv('CONSENT_API_HOST') }}"})
    })
  </script>
{% endblock %}
